@page "/forgotpassword"


<MyMudProviders />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=BodyS:wght@400;500;600;700&display=swap">

<PageTitle>Forgot Password</PageTitle>


@using System.ComponentModel.DataAnnotations

<MudPaper Class="pa-10" Style="@($"color:{Colors.Purple.Darken3}; font-size: 13px;")">

    <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <MudGrid Class="mt-n10 pa-20">

            <MudItem xs="4" sm="4" class=" mx-auto">
                <MudCard Outlined="true" Style="@($"background-color: #f0f0f0; border-radius: 10px; height: 400px; width:400px")">
                    <MudCardContent Class="pa-20">
                        <MudText Align="Align.Center" Style="@($"color:{Colors.Blue.Darken4}; padding-top:10px")" Typo="Typo.h4">
                            <span style="font-weight: bold; font-family: 'Inter'; font-size:23px">Forgot Password ?</span>
                        </MudText>
                        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;margin-top: 5px; text-align: center;">
                            <span style="color: gray; font-family: 'BodyS'; font-size: 15px;">Reset password</span>
                            <br />
                            <br />
                            <span style="color:gainsboro; font-family: 'BodyS'; font-size: 18px; margin-top: 12px;">Enter your email to reset the password</span>
                        </div>


                        <MudText Style="@($"color:{Colors.Shades.Black}; padding-top:10px; padding-left:20px")" Typo="Typo.body1" Class="mt-4">
                            <span style="font-family: 'BodyS'; font-size: 18px;">Email</span>
                        </MudText>
                        <MudTextField Style="@($"height: 40px; width: 310px; color: {Colors.Grey.Lighten1}; background-color: {Colors.Shades.White}; border-radius: 15px; font-size: 13px; margin-left: 20px; padding: 0 20px;")"
                                      Class="mt-2" Variant="Variant.Outlined"
                                      @bind-Value="model.Email" For="@(() => model.Email)" LabelCentered="true" />

                    </MudCardContent>

                    <MudCardActions style=" margin-top:10px; padding-top: 8px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;">
                        <MudButton @onclick="GoToHomePage" ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Medium" Class="mybutton" Rounded="Rounded.All">
                            <span style="font-family: 'Inter'; font-size:12px;"> Send Reset Link</span>
                        </MudButton>
                    </MudCardActions>

                </MudCard>
            </MudItem>


        </MudGrid>
    </EditForm>

</MudPaper>

<style>
    .mybutton {
        width: 200px;
        height: 40px;
        border-radius: 7px; /* Round the corners to 5px */
        display: flex; /* Set display to flex */
        justify-content: center; /* Center the button horizontally */
        margin: auto; /* Center the button both horizontally and vertically */
        margin-bottom: 20px; /* Add space after the button */
        margin-top: -10px
    }
</style>


@code {
    ForgotPasswordForm model = new ForgotPasswordForm();
    bool success;

    public class ForgotPasswordForm
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; }
    }

    private void OnValidSubmit(EditContext context)
    {
        // Logic to handle forgot password request
        success = true; // For demo purpose
        StateHasChanged();
    }

    @code {
        // Inject NavigationManager
        [Inject]
        NavigationManager NavigationManager { get; set; }

        // Method to navigate to the home page if the username and passwords are correct
        private void GoToHomePage()
        {
            NavigationManager.NavigateTo("/");
        }
    }
}
